:root {
  --lightWhite: #eee;
  --lightGrey: #ccc;
  --black: #333;
  --brand: #006699;
  --accent: #00ff85;
  --leagueTheme: #006699;
  --leagueAccent: #fff;
  --leagueThemeText: #f4f4f4;
  --leagueThemeRGB: 0, 102, 153;
}
