#loader {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 5;
  background-color: #001925;
  color: #fff;

  #loaderWrap {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      height: 100px;
      background-color: #fff;
      border-radius: 1rem;
      padding: 10px 20px;
      animation: loading 0.3s ease-in-out alternate infinite;
    }
    @keyframes loading {
      50% {
        transform: translateX(-10px);
      }
      100% {
        transform: translateX(10px);
      }
    }
  }
}
.loaderActive {
  display: block !important;
}
