.clearLocalStorage {
  color: #f4f4f4;

  button {
    display: block;
    margin: auto;
    margin-top: 1rem;
  }
}

.matches {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  padding-bottom: 10vh;
  min-height: 100%;

  .match {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    color: #333;
    padding: 1rem;
    padding-bottom: 2rem;
    margin: 2rem;
    min-width: 300px;
    min-height: 125px;
    border-radius: 0.5rem;

    @include for_600 {
      width: 320px;
    }

    &__date {
      position: absolute;
      right: -1rem;
      bottom: -1rem;
      padding: 1em 1.25em;
      border-radius: 0.5rem;
      background-color: var(--leagueAccent);
      box-shadow: -6px -6px 12px rgba(0, 0, 0, 0.1);
    }
  }

  .team {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    strong {
      margin: 0.5rem;
    }

    &__name {
      text-align: center;
      font-weight: bold;
      width: max-content;

      @include for_600 {
        max-width: 150px;
        overflow-x: auto;
      }
    }

    &__logo {
      display: block;
      margin: auto;
      width: 2.5rem;
      height: 2.5rem;
      border: 2px solid blue;
      font-size: 0.6rem;

      &--loaded {
        height: auto;
        max-height: 3.125rem;
        border: none;
      }
    }
  }
}
