.clearLocalStorage {
  color: #f4f4f4;

  button {
    display: block;
    margin: auto;
    margin-top: 1rem;
  }
}

.matches {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  padding-bottom: 10vh;
  min-height: 100%;

  .match {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #333;
    padding: 1rem;
    padding-bottom: 2rem;
    margin: 2rem;
    min-width: 300px;
    min-height: 125px;
    border-radius: 0.5rem;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #f4f4f4;
      border-radius: 0.5rem;
      box-shadow: 6px 6px 12px -3px rgba(0, 0, 0, 0.5);
      transition: transform 0.3s ease-in-out;
      transform-origin: inherit;
    }

    @include for_600 {
      width: 90vw;
      margin: 2rem 1rem;
    }

    &--active {
      z-index: 10;

      &::before {
        transform: scale(1.3);

        @include for_600 {
          transform: scaleY(1.3);
        }
      }

      .match__date {
        opacity: 0;
      }

      .match__countdown {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
      }
    }

    &__date {
      position: absolute;
      right: -1rem;
      bottom: -1rem;
      padding: 1em 1.25em;
      border-radius: 0.5rem;
      background-color: var(--leagueAccent);
      transition: opacity 0.3s ease-in-out;
      box-shadow: -6px -6px 12px rgba(0, 0, 0, 0.1);

      @include for_600 {
        right: -0.5rem;
      }
    }

    &__countdown {
      position: absolute;
      bottom: -1rem;
      left: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      background-color: var(--leagueTheme);
      color: var(--leagueAccent);
      padding: 0.5rem;
      border-radius: 0.5rem;
      opacity: 0;
      transform: translateY(-5px) translateX(-50%);
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
  }
}

.team {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;

  strong {
    margin: 0.5rem;
  }

  &__name {
    text-align: center;
    font-weight: bold;
    width: max-content;

    @include for_600 {
      max-width: 150px;
      overflow-x: auto;
    }
  }

  &__logo {
    display: block;
    margin: auto;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid blue;
    font-size: 0.6rem;

    &--loaded {
      height: auto;
      max-height: 3.125rem;
      border: none;
    }
  }
}
