.scorers {
  min-height: 93vh;
  display: flex;
  margin: auto;
  max-width: 90%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.scorer {
  visibility: hidden;
  position: relative;
  background-color: #f4f4f4;
  margin: 1.5em;
  padding: 1em;
  min-width: 300px;
  min-height: 200px;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(-6px -6px 12px rgba(0, 0, 0, 0.2));

  @include for_768 {
    min-width: 94vw;
  }

  &__name {
    margin-top: 0;
    margin-bottom: 1rem;
    max-width: 300px;
    overflow-x: auto;
    font-weight: bold;
  }

  .fas {
    margin: 0;
    margin-right: 0.5rem;
  }

  p {
    margin-bottom: 0.5rem;
  }

  &__team {
    position: absolute;
    right: -1rem;
    bottom: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    background-color: var(--leagueTheme);
    color: var(--leagueText);
    padding: 0.5rem 1.25rem;
    padding-bottom: 1.25rem;
    border-radius: 0.5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
    box-shadow: -6px 0px 12px rgba(0, 0, 0, 0.2);

    img {
      margin: auto;
      width: 2rem;
    }
  }

  &__goals {
    position: absolute;
    right: -1rem;
    bottom: -1rem;
    margin: 0;
    background-color: var(--leagueAccent);
    color: var(--leagueText);
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;
    border-top-right-radius: 0;
    box-shadow: -6px -6px 12px rgba(0, 0, 0, 0.2);
  }

  &__goals,
  &__team {
    @include for_480 {
      right: 0;
    }
  }

  &__age {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: var(--leagueTheme);
    color: #f4f4f4;
    font-weight: bold;
    box-shadow: 6px 0px 12px rgba(0, 0, 0, 0.2);
  }
}
