.standingsOutput {
  display: flex;
  position: relative;
  z-index: 2;
  max-width: 1366px;
  margin: 15vh auto;
  width: 75vw;
  padding: 0 20px;
  flex-direction: column-reverse;
  justify-content: center;
  filter: drop-shadow(5px -5px 20px rgba(0, 0, 0, 0.5));

  @include for_768 {
    padding: 0 5px;
    width: 100vw;
  }
  &__table {
    border: none;
    border-collapse: collapse;

    @include for_768 {
      width: 100%;
    }
  }

  tr,
  th,
  td {
    border: none;
    text-align: center;
  }

  th,
  td {
    padding: 10px 15px;

    @include for_1024 {
      padding: 5px 10px;
      font-size: 1rem;
    }
    @include for_768 {
      padding: 3px 6px;
      font-size: 0.9rem;
    }
    @include for_600 {
      padding: 4px;
      font-weight: 400;
      max-width: 80px;
    }
  }
  th {
    @include for_768 {
      padding: 10px 4px;
    }
  }

  .teamName {
    width: max-content;

    @include for_600 {
      width: 100%;
      display: block;
      font-size: 0.7rem;
      text-align: center;
      overflow-x: scroll;
    }
  }

  .points {
    font-weight: 600;
  }

  tr:nth-child(even) {
    background-color: #fff;
    color: #333;

    td:nth-child(10) {
      background-color: var(--leagueTheme);
      text-align: center;
    }
  }
  tr:nth-child(odd) {
    background-color: #eee;
    color: #333;

    td:nth-child(10) {
      background-color: rgba(var(--leagueThemeRGB), 0.7);
      text-align: center;
    }
  }

  td {
    &:last-child {
      color: #f4f4f4;
    }

    &:nth-child(2) {
      text-align: left;
    }

    img {
      height: 20px;
      max-width: 20px;
      display: inline-block;
      margin-right: 10px;

      @include for_600 {
        display: block;
        margin: auto;
      }
    }
  }

  .filterButton {
    display: flex;
    width: max-content;

    @include for_768 {
      width: 100%;
    }

    &__btn {
      cursor: pointer;
      padding: 1rem;
      border-right: 2px solid var(--leagueTheme);
      border-radius: unset;
      background: rgba(var(--leagueThemeRGB), 0.7);
      color: #f4f4f4;
      transition: background-color 0.2s ease;

      @include for_768 {
        padding: 0.5rem 0.75rem;
      }

      &:hover,
      &:focus {
        background-color: var(--leagueTheme);
        transform: translateY(0);
        box-shadow: unset;
      }

      &:last-child {
        border-right: 0;
        border-top-right-radius: 0.5rem;
      }

      &:first-child {
        border-top-left-radius: 0.5rem;
      }

      &--active {
        background: rgba(var(--leagueThemeRGB), 0.7);
      }
    }
  }
}
