.teamInfo {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: transform 0.3s ease-in-out, visibility 0.2s ease-in-out;
  background-color: #fff;
  transform: translateY(110%);
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: scroll;

  &__collapse {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    border: 0;
    outline: 0;
    padding: 15px 20px;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    background-color: #00ff85;
    color: #333;
    border-radius: 0;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0px 4px 8px -5px rgba(0, 0, 0, 0.4);

    &:hover,
    &:focus {
      transform: translateX(0);
    }

    i {
      margin: 0;
    }
  }

  &__cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: url(https://vanilla.footballstats.tk/assets/images/background.webp);
    background-size: cover;
    box-shadow: 0px -9px 18px -10px inset rgba(0, 0, 0, 0.6);
  }
  &__logo {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    background-color: #fff;
    background-size: cover;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.4));
  }

  h4 {
    margin-bottom: 5px;
    color: var(--leagueTheme);
  }

  &__name {
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 90vw;
    text-align: center;

    @include for_480 {
      h1 {
        font-size: 22px;
      }
    }
  }

  .details {
    position: absolute;
    top: 420px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    max-width: 1366px;

    @include for_600 {
      top: 480px;
    }
  }

  .general,
  .teamSquad {
    width: 100%;
    padding: 40px;

    @include for_768 {
      padding: 10px;
    }
    h2 {
      width: max-content;
      padding: 10px 20px;
      background-color: var(--leagueTheme);
      color: var(--leagueText);
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 2px;
        width: calc(1366px - 80px);
        display: block;
        background-color: var(--leagueTheme);
      }
    }
  }

  .general {
    .fas,
    .fab {
      margin-right: 5px;
    }

    &__content {
      display: grid;
      grid-template-columns: 400px auto;

      @include for_768 {
        grid-template-columns: 100%;
      }
      grid-gap: 30px;
    }

    &__info {
      margin-top: 40px;
      padding: 10px;
      background-color: #eee;
      border-left: 2px solid var(--leagueTheme);

      @include for_600 {
        padding: 0;
      }

      h4 {
        font-weight: bold;
        margin-top: 0;
      }

      em,
      p {
        margin-left: 10px;
      }
    }

    &__country,
    &__activeCompetitions,
    &__contact,
    &__stadium {
      padding: 10px;
    }

    &__activeCompetitions {
      width: max-content;

      em {
        display: block;
        padding: 0 !important;
        border: none;
      }
    }

    &__contact {
      address,
      a {
        margin: 10px;

        @include for_600 {
          margin: 0;
          margin-bottom: 10px;
        }
      }
      a {
        display: block;
        width: max-content;
        color: #333;
      }
    }

    &__form {
      margin-top: 50px;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      align-items: center;
      grid-gap: 30px;

      .match {
        position: relative;
        background-color: var(--leagueText);
        padding: 10px;
        height: max-content;
        border-bottom: 2px solid var(--leagueTheme);

        h5 {
          position: absolute;
          top: -2rem;
          font-weight: bold;
          left: 0;
          padding: 5px 15px;
          background-color: var(--leagueTheme);
          color: var(--leagueText);
          border-top-left-radius: 1em;
          border-top-right-radius: 1em;
        }
        &__score,
        &__home,
        &__away {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &__goals {
          font-weight: 400;
          font-size: 1.6rem;

          @include for_600 {
            font-size: 1.1rem;
          }
        }

        em {
          padding: 10px;
          background-color: #333;
          color: #fff;
          margin: 0 10px;

          @include for_480 {
            padding: 5px;
            margin: 0 5px;
          }
        }
      }
    }
  }

  .teamSquad {
    h3 {
      color: var(--leagueTheme);
      margin-bottom: 10px;
      font-weight: bold;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    .manager {
      margin: 20px 0;
      position: relative;
      width: max-content;
    }
    .players {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-gap: 40px;
      padding: 20px;
      border-bottom: 1px solid var(--leagueTheme);
      margin-bottom: 20px;
    }

    .player {
      background-color: var(--leagueTheme);
      color: var(--leagueText);
      padding: 10px 15px;
      position: relative;
      border-radius: 0.5rem;

      &__name {
        color: var(--leagueText);
        margin: 0;
        font-weight: bold;
      }

      &__age {
        position: absolute;
        top: -1rem;
        font-size: 0.6rem;
        padding: 5px;
        background-color: var(--leagueAccent);
        color: var(--leagueText);
        right: 0;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }
    }
  }
}

.teamInfo--active {
  visibility: visible;
  transform: translateY(0) !important;
}
