@import "colors";

:root {
  --headingFont: "Quicksand", sans-serif;
  --bodyFont: "Roboto", "sans-serif";
  overflow-x: hidden;
}

body {
  background-image: url("https://res.cloudinary.com/rdaahal/image/upload/v1614002236/FootballStats/background_webp_fallback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed !important;
  overflow-x: hidden;
  min-height: 110vh;

  @include for_768 {
    background-image: url("https://res.cloudinary.com/rdaahal/image/upload/v1609243890/FootballStats/background_mobile_hlw9ao.webp");
    background-repeat: no-repeat;
  }

  &::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
  }

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--leagueThemeRGB), 0.75);
    pointer-events: none;
  }

  h1 {
    @include for_768 {
      font-size: 2.3rem;
    }
  }

  .container {
    position: relative;
    z-index: 2;
    margin-top: 15vh;
    padding-bottom: 10vh;
  }

  .textWithIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;

    svg {
      margin-right: 0.5em;
    }

    &--iconRight {
      flex-direction: row-reverse;

      svg {
        margin-right: 0;
        margin-left: 0.5em;
      }
    }
  }
}
