@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  outline: 0;
  padding: 15px 20px;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  box-sizing: border-box;
}

body {
  background-image: url("/assets/images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Proza Libre", "serif";
  background-attachment: fixed !important;
  overflow-x: hidden;

  @include for_768 {
    background-image: url("/assets/images/background_mobile.webp");
    background-repeat: no-repeat;
  }

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--leagueThemeRGB), 0.75);
  }
}
