@import "colors";

:root {
  --headingFont: "Quicksand", sans-serif;
  --bodyFont: "Roboto", "sans-serif";
}

body {
  background-image: url("/assets/images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed !important;
  overflow-x: hidden;

  @include for_768 {
    background-image: url("/assets/images/background_mobile.webp");
    background-repeat: no-repeat;
  }

  &::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
  }

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--leagueThemeRGB), 0.75);
    pointer-events: none;
  }

  i {
    margin-left: 1rem;
  }
}
