<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta property="og:site_name" content="footballstats.tk" />
  <meta property="og:title" content="footballStats" />
  <meta property="og:url" content="https://footballstats.tk" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Football Statistics for Popular Leagues" />
  <meta property="og:image" content="https://footballstats.tk/./assets/images/ogImg.png" />
  <meta name="theme-color" content="#0AD74F" />
  <title>FootballStats</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap"
    rel="stylesheet">
  <link rel="icon"
    href="https://res.cloudinary.com/rdaahal/image/upload/v1609246223/FootballStats/Icons/juggle-96x96_ueyfhp.png" />
  <link rel="dns-prefetch" href="https://api.football-data.org/v2/competitions/" />
  <link rel="dns-prefetch" href="https://rahuldahal.com.np" />
  <link rel="manifest" href="./manifest.webmanifest" />
  <noscript>
    <h3>This app requires JavaScript to function.</h3>
    <a href="https://www.enable-javascript.com/">Read More</a>
  </noscript>
  <% for (let css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
</head>

<body>
  <div id="root"></div>
  <script>
    if ("serviceWorker" in navigator) {
      window.addEventListener("load", () => {
        navigator.serviceWorker
          .register("./serviceWorker.js")
          .then((reg) => console.log("registered", reg.scope))
          .catch((err) => console.log(err));
      });
    }
  </script>

  <% if (htmlWebpackPlugin.options.devServer) { %>
    <script src="<%= htmlWebpackPlugin.options.devServer%>/main.js"></script>
    <% } %>
</body>

</html>